form{
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
    border: 2px solid;
}

form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label{
    margin: 1%;
}

form button{
    margin: 1%;
}

div{
    display: flex;
    justify-content: center;
}

div p{
    padding: 5%;
}

span{
    color: rgb(17, 234, 17);
}
